<!DOCTYPE html>
<html lang="en">
<head>
    <title>ANOMALY DETECT | PROJECT</title>
    <!--Add the CSS-->
    <style>
        body{
            background-color: black;
        }
        #title{
            color: white;
            text-transform: uppercase;
            text-align: center;   
            margin-top: 280px; 
        }
    </style>

</head>
<body>
    <div id = "title">
        <h1>Welcome, to Anomaly Detection Project</h1>
    </div>
    
</body>
</html>