<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Anomaly Detection</h1>
  
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
      <br>
      <h2>Entry 1</h2>
      <input type="text" name="Login_Timestamp1" placeholder="Login Timestamp" required="required" />
      <input type="number" name="User_ID1" placeholder="User ID" required="required" />
      <input type="text" name="IP_Address1" placeholder="IP Address" required="required" />
      <input type="text" name="Country1" placeholder="Country" required="required" />
      <input type="text" name="Region1" placeholder="Region" required="required" />
      <input type="text" name="City1" placeholder="City" required="required" />
      <input type="text" name="Browser_Name_and_Version1" placeholder="Browser Name and Version" required="required" />
      <input type="text" name="Device_Type1" placeholder="Device Type" required="required" />
      <input type="number" name="Login_Successful1" placeholder="Login Successful" required="required" />
      <br>
      <h2>Entry 2</h2>
      <input type="text" name="Login_Timestamp2" placeholder="Login Timestamp" required="required" />
      <input type="number" name="User_ID2" placeholder="User ID" required="required" />
      <input type="text" name="IP_Address2" placeholder="IP Address" required="required" />
      <input type="text" name="Country2" placeholder="Country" required="required" />
      <input type="text" name="Region2" placeholder="Region" required="required" />
      <input type="text" name="City2" placeholder="City" required="required" />
      <input type="text" name="Browser_Name_and_Version2" placeholder="Browser Name and Version" required="required" />
      <input type="text" name="Device_Type2" placeholder="Device Type" required="required" />
      <input type="number" name="Login_Successful2" placeholder="Login Successful" required="required" />
      <br>
      <h2>Entry 3</h2>
      <input type="text" name="Login_Timestamp3" placeholder="Login Timestamp" required="required" />
      <input type="number" name="User_ID3" placeholder="User ID" required="required" />
      <input type="text" name="IP_Address3" placeholder="IP Address" required="required" />
      <input type="text" name="Country3" placeholder="Country" required="required" />
      <input type="text" name="Region3" placeholder="Region" required="required" />
      <input type="text" name="City3" placeholder="City" required="required" />
      <input type="text" name="Browser_Name_and_Version3" placeholder="Browser Name and Version" required="required" />
      <input type="text" name="Device_Type3" placeholder="Device Type" required="required" />
      <input type="number" name="Login_Successful3" placeholder="Login Successful" required="required" />
      <br>
      <h2>Entry 4</h2>
      <input type="text" name="Login_Timestamp4" placeholder="Login Timestamp" required="required" />
      <input type="number" name="User_ID4" placeholder="User ID" required="required" />
      <input type="text" name="IP_Address4" placeholder="IP Address" required="required" />
      <input type="text" name="Country4" placeholder="Country" required="required" />
      <input type="text" name="Region4" placeholder="Region" required="required" />
      <input type="text" name="City4" placeholder="City" required="required" />
      <input type="text" name="Browser_Name_and_Version4" placeholder="Browser Name and Version" required="required" />
      <input type="text" name="Device_Type4" placeholder="Device Type" required="required" />
      <input type="number" name="Login_Successful4" placeholder="Login Successful" required="required" />
      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>